---
page_title: "CANCOM: dns_record"
description: |-
  Defines a DNS record
---

# cancom_dns_record (Resource)

## Example Usage

{{ tffile "examples/services/dns/resources/dns_record_basic_usage.tf" }}


{{ .SchemaMarkdown | trimspace }}
