---
page_title: "cancom Provider"
subcategory: ""
description: |-
  
---

# CANCOM Provider

The CANCOM provider is used to interact with the CANCOM Cloud.

To use this provider, you need an active subscription to [CANCOM Marketplace] (https://marketplace.cancom.de/de/home).
Currently, signup is restricted to certain customers, but we plan to open signup to a broader audience soon.

You can reach the CANCOM Cloud here: [https://portal.cancom.io](https://portal.cancom.io)

## Example Usage

{{ tffile "examples/provider_configuration.tf" }}

## Authentication

The CANCOM provider can be configured over the following token sources:

* Parameters in the provider configuration
* Environment variables

### Environment Variables

You can omit the token in the provider configuration by setting the `CANCOM_TOKEN` environment variable.
If both `token` and `CANCOM_ACCESS_TOKEN` is set, we prefer the provided `token`.

{{ .SchemaMarkdown | trimspace }}
